.a {
    text-align: left;
}
  
body {
    background-color: lightblue;
    background-image: url('/javascript-clicker-game/images/amalieskram.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
  
.clicker p {
    font-size: 13px;
    font-weight: bolder;
}



h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
}
  
h1 {
    text-align: center;
    font-size: 40px;
    padding-bottom: 25px;
    padding-top: 25px;
}
  
.logout {
    text-decoration: none;
    color: black;
    margin-top: 130px;
    text-align: left;
}
  

  
.div-grid {
    display: grid;
    grid-template-areas: "kolonne kolonne konlonne";
    padding: 0px;
    text-align: center;
    margin: auto;
    max-width: 800px;
    grid-gap: 200px;
}

img:hover{
    transform: scale(1.05);
}
img:active {
    transform: scale(0.9);
}
  
img {
    transition: ease-in-out 0.1s;
   
}
.clicker {
    border: 1px solid black;
    height: 400px;
    background-color: lightskyblue;
    border-radius: 5px;
}

.upgrade {
    border: 1px solid black;
    height: 400px;
    width: 300px;
    background-color: lightskyblue;
    border-radius: 5px;
}

.SCP {
    font-size: 50px;
}

button{
    padding: 10px;
    margin: 15px;
    background-color: lightblue;
    border-radius: 5px;
    transition: ease-in-out 0.1s;
}


button:hover{
    transform: scale(1.1);
}

button:active{
    transform: scale(0.9);
}

.dimmed {
    opacity: 0.5;
  }